<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form method="post" action="/submit">
      <label>English: <input type="number" name="english" /> </label
      ><br /><br />
      <label>Maths: <input type="number" name="maths" /> </label><br /><br />
      <label>Science: <input type="number" name="science" /> </label
      ><br /><br />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
