<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Employee Form</title>
    <link href="../static/css/style.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
  </head>
  <style>
    .hidden {
      display: none;
    }
    .page_info {
      color: black;
    }
  </style>
  <body>
    <div
      style="
        display: flex;
        height: 40px;
        justify-content: space-between;
        margin: 20px;
      "
    >
      <h2>Employee Details</h2>
      <div>
        <input
          type="search"
          id="searchData"
          name="searchData"
          placeholder="Search..."
        />
      </div>

      <button onclick="window.location.href='http://127.0.0.1:5000/addDetails'">
        Add other details
      </button>
      <form method="post" action="/scrape_and_save">
        <input type="submit" value="Export to CSV">
    </form>

    </div>
    <table border="1" id="data-table">
        <thead>
            <tr>
              <th>
                <div id="table-heading">
                    <div>Id</div>
                    <i id="id-triangle-down"></i>
                    <i id="id-triangle-up"></i>
                </div>
              </th>
              <th>
                <div id="table-heading">
                    <div>Username</div>
                    <i id="username-triangle-down"></i>
                    <i id="username-triangle-up"></i>
                </div>
                </div>
              </th>
              <th>
                <div id="table-heading">
                    <div>Gender</div>
                    <i id="gender-triangle-down"></i>
                    <i id="gender-triangle-up"></i>
                </div>
              </th>
              <th>
                <div id="table-heading">
                    <div>Contact</div>
                    <i id="contact-triangle-down"></i>
                    <i id="contact-triangle-up"></i>
                </div>
              </th>
              <th>
                <div id="table-heading">
                    <div>Email</div>
                    <div style="display: flex;">
                      <i id="email-triangle-down"></i>
                      <i id="email-triangle-up"></i>
                    </div>
                </div>
              </th>
              <th>
                <div id="table-heading">
                    <div>Languages</div>
                    <i id="languages-triangle-down"></i>
                    <i id="languages-triangle-up"></i>
                </div>
              </th>
              <th>
                <div id="table-heading">
                    <div>Operations</div>
                </div>
              </th>
            </tr>
          </thead>
      <tbody>

      </tbody>
    </table>

    <br />
    <div style="display: flex; ">
      <div
        id="pagination"
        style="display: flex; height: 40px; margin-left: 370px"
      >
        <button id="previousPage">Previous</button>
        <p id="pageInfo" style="margin: 20px"></p>
        <button id="nextPage">Next</button>
      </div>
      <div style="margin-top: 12px; margin-left: 20px">
        <label>Items per page:</label>
        <select name="items_per_page" id="items_per_page">
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="15">15</option>
          <option value="20">20</option>
        </select>
        <br /><br />
      </div>
      <div style="margin-left: 180px;">
        <p id="totalRecords"></p>
      </div>
    </div>
    <div id="new_pagination">
      <p id="paginationData" style="margin: 20px"></p>
    </div>
  </body>
  <script>
    $(document).ready(function () {

      var currentPage = 1;
      var total_pages = 0;
      var items_per_page = 5;
      var sortColumn = ""; 
      var sortOrder = "";
      var column="";
      var count = 0;


      function loadData(page) {
        var search = $("#searchData").val();
        column=column
        sortOrder=sortOrder
        console.log("after...")
        console.log(sortColumn)
        console.log(sortOrder)
        $.ajax({
          url: "/get_data",
          type: "POST",
          data: { page: page, search: search, items_per_page: items_per_page,sortColumn:sortColumn,sortOrder:sortOrder },
          success: function (response) {
            var tableBody = $("#data-table tbody");
            tableBody.empty();
            console.log(response);
            response.data.forEach(function (row) {
                        var newRow = '<tr>' +
                            '<td>' + row.id + '</td>' +
                            '<td>' + row.username + '</td>' +
                            '<td>' + row.gender + '</td>' +
                            '<td>' + row.contact + '</td>' +
                            '<td>' + (row.email ? row.email : '') + '</td>' + 
                            '<td>' + (row.languages ? row.languages : '') + '</td>' + 
                            '<td style="display: flex;">' +
                            '<form action="/editData" method="POST" style="margin: 4px;">' +
                            '<input type="hidden" name="edit_id" value="' + row.id + '" />' +
                            '<input type="hidden" name="email_val" value="' + (row.email ? row.email : '') + '" />' +
                            '<button type="submit">Edit</button>' +
                            '</form>' +
                            '<form action="/deleteData" method="POST" style="margin: 4px;">' +
                            '<input type="hidden" name="del_id" value="' + row.id + '" />' +
                            '<button type="submit">Delete</button>' +
                            '</form>' +
                            '<form action="/viewRowData" method="POST" style="margin: 4px;">' +
                            '<input type="hidden" name="viewrow_id" value="' + row.id + '" />' +
                            '<button type="submit">View</button>' +
                            '</form>' +
                            '</td>' +
                            '</tr>';
                        tableBody.append(newRow);
                    });

            currentPage = page;
            total_pages = Math.ceil(response.total_rows / items_per_page);
            updatePaginationInfo();
            updateTotalRecords(response.total_rows);
            // console.log(response.total_rows)
            if (currentPage == 1) {
              $("#previousPage").prop("disabled", true).addClass("disabled");
            } else {
              $("#previousPage")
                .prop("disabled", false)
                .removeClass("disabled");
            }
            if (currentPage == total_pages) {
              console.log("button disabled");
              $("#nextPage").prop("disabled", true).addClass("disabled");
            } else {
              $("#nextPage").prop("disabled", false).removeClass("disabled");
            }

          },
          error: function (xhr, status, error) {
            console.error(xhr.responseText);
          },
        });
      }

      function updateTotalRecords(e){
        if(items_per_page<e){
          $("#totalRecords").text("Showing "+items_per_page+ " of "+e);
        }
        else{
          $("#totalRecords").text("Showing "+e+ " of "+e);
        }  
      }

      function updatePaginationInfo() {
        $("#pageInfo").text("Page " + currentPage + " of " + total_pages);
      }

      $("#previousPage").on("click", function () {
        if (currentPage > 1) {
          loadData(currentPage - 1);
        }
      });

      $("#nextPage").on("click", function () {
        if (currentPage < total_pages) {
          loadData(currentPage + 1);
        }
      });
      $("#searchData").on("keypress", function (e) {
        if (e.which == 13) {
          loadData(1);
        }
      });
      $("#items_per_page").on("change", function () {
        items_per_page = $(this).val();
        console.log(items_per_page);
        loadData(1);
      });
    //   function toggleSort(column) {
    //     if (sortColumn === column) {
    //         sortOrder = sortOrder === "asc" ? "desc" : "asc";
    //     } else {
    //         $("#data-table th div#table-heading").each(function () {
    //             if ($(this).text().toLowerCase() !== column) {
    //                 $(this).find("#triangle-up").removeClass("hidden");
    //                 $(this).find("#triangle-down").removeClass("hidden");
    //             }
    //         });
    //         sortColumn = column;
    //         sortOrder = sortOrder;
            
    //     }
    //     console.log(sortColumn)
    //     console.log(sortOrder)
    //     loadData(1);
    // }
    //   $("#data-table th div#table-heading").on("click", function () {
          
    //       var column = $(this).find("div").text().toLowerCase();
    //       console.log("heading");
    //       var $upArrow = $(this).find("#triangle-up");
    //       var $downArrow = $(this).find("#triangle-down");
    //       toggleSort(column);
          
    //       if ($upArrow.is(":visible")) {
    //           $upArrow.addClass("hidden"); 
    //           $downArrow.removeClass("hidden"); 
    //       } else { 
    //           $upArrow.removeClass("hidden");
    //           $downArrow.addClass("hidden"); 
    //       }
        
    //       toggleSort(column);
            
    //   });
    // function toggleSort(column, sortOrder) {
    //     sortColumn = column;
    //     sortOrder = sortOrder === "asc" ? "desc" : "asc";
    //     console.log(sortColumn)
    //     console.log(sortOrder)
    //     loadData(1); 
    // }
    function toggleSort(column,order) {

        // if (sortColumn === column) {
        //     sortOrder = sortOrder === "asc" ? "desc" : "asc";
        // } else {
        //     $("#data-table th div#table-heading").each(function () {
        //         if ($(this).text().toLowerCase() !== column) {
        //             $(this).find("#triangle-up").removeClass("hidden");
        //             $(this).find("#triangle-down").removeClass("hidden");
        //         }
        //     });
            sortColumn = column;
            sortOrder = order;
            
        // }
        console.log(sortColumn)
        console.log(sortOrder)
        loadData(1);
    }



    $("#id-triangle-up").on("click", function () {
        console.log("up arroww")
        var column = $(this).closest("div#table-heading").find("div").text().toLowerCase();
        toggleSort(column, "asc");
        $(this).hide(); 
        $("#id-triangle-down").show(); 
        $("#username-triangle-up").show();
        $("#username-triangle-down").show();
        $("#id-triangle-down").show(); 
        // $("#id-triangle-up").show();        
        $("#gender-triangle-up").show();
        $("#gender-triangle-down").show(); 
        $("#langauges-triangle-up").show();
        $("#languages-triangle-down").show();
        $("#email-triangle-up").show();
        $("#email-triangle-down").show();
        $("#contact-triangle-up").show();
        $("#contact-triangle-down").show();
    });

    $("#id-triangle-down").on("click", function () {
        console.log("downn arr")
        var column = $(this).closest("div#table-heading").find("div").text().toLowerCase();
        toggleSort(column, "desc");
        $(this).hide(); 
        $("#id-triangle-up").show(); 
        $("#username-triangle-down").show();
        $("#id-triangle-up").show();        
        $("#gender-triangle-up").show();
        $("#gender-triangle-down").show(); 
        $("#langauges-triangle-up").show();
        $("#languages-triangle-down").show();
        $("#email-triangle-up").show();
        $("#email-triangle-down").show();
        $("#contact-triangle-up").show();
        $("#contact-triangle-down").show();
    });
    $("#username-triangle-up").on("click", function () {
        console.log("up arroww")
        var column = $(this).closest("div#table-heading").find("div").text().toLowerCase();
        toggleSort(column, "asc");
        $(this).hide(); 
        $("#username-triangle-down").show();
        $("#id-triangle-down").show(); 
        $("#id-triangle-up").show();        
        $("#gender-triangle-up").show();
        $("#gender-triangle-down").show(); 
        $("#langauges-triangle-up").show();
        $("#languages-triangle-down").show();
        $("#email-triangle-up").show();
        $("#email-triangle-down").show();
        $("#contact-triangle-up").show();
        $("#contact-triangle-down").show();
    });

    $("#username-triangle-down").on("click", function () {
        console.log("downn arr")
        var column = $(this).closest("div#table-heading").find("div").text().toLowerCase();
        toggleSort(column, "desc");
        $(this).hide(); 
        $("#username-triangle-up").show();
        $("#id-triangle-down").show(); 
        $("#id-triangle-up").show();        
        $("#gender-triangle-up").show();
        $("#gender-triangle-down").show(); 
        $("#langauges-triangle-up").show();
        $("#languages-triangle-down").show();
        $("#email-triangle-up").show();
        $("#email-triangle-down").show();
        $("#contact-triangle-up").show();
        $("#contact-triangle-down").show(); 
    });
    $("#gender-triangle-up").on("click", function () {
        console.log("up arroww")
        var column = $(this).closest("div#table-heading").find("div").text().toLowerCase();
        toggleSort(column, "asc");
        $(this).hide(); 
      
        $("#username-triangle-down").show();
        $("#id-triangle-down").show(); 
        $("#id-triangle-up").show();        
        // $("#gender-triangle-up").show();
        $("#gender-triangle-down").show(); 
        $("#langauges-triangle-up").show();
        $("#languages-triangle-down").show();
        $("#email-triangle-up").show();
        $("#email-triangle-down").show();
        $("#contact-triangle-up").show();
        $("#contact-triangle-down").show();
    });

    $("#gender-triangle-down").on("click", function () {
        console.log("downn arr")
        var column = $(this).closest("div#table-heading").find("div").text().toLowerCase();
        toggleSort(column, "desc");
        $(this).hide(); 
        $("#username-triangle-up").show(); 
        $("#username-triangle-down").show();
        $("#id-triangle-down").show(); 
        $("#id-triangle-up").show();        
        $("#gender-triangle-up").show();
        // $("#gender-triangle-up").show(); 
        $("#langauges-triangle-up").show();
        $("#languages-triangle-down").show();
        $("#email-triangle-up").show();
        $("#email-triangle-down").show();
        $("#contact-triangle-up").show();
        $("#contact-triangle-down").show();
    });
    $("#contact-triangle-up").on("click", function () {
        console.log("up arroww")
        var column = $(this).closest("div#table-heading").find("div").text().toLowerCase();
        toggleSort(column, "asc");
        $(this).hide();  
        $("#username-triangle-up").show();
        $("#username-triangle-down").show();
        $("#id-triangle-down").show(); 
        $("#id-triangle-up").show();        
        $("#gender-triangle-up").show();
        $("#gender-triangle-down").show(); 
        $("#langauges-triangle-up").show();
        $("#languages-triangle-down").show();
        $("#email-triangle-up").show();
        $("#email-triangle-down").show();
        // $("#contact-triangle-up").show();
        $("#contact-triangle-down").show();
    });

    $("#contact-triangle-down").on("click", function () {
        console.log("downn arr")
        var column = $(this).closest("div#table-heading").find("div").text().toLowerCase();
        toggleSort(column, "desc");
        $(this).hide(); 
        $("#username-triangle-up").show();
        $("#username-triangle-down").show();
        $("#id-triangle-down").show(); 
        $("#id-triangle-up").show();        
        $("#gender-triangle-up").show();
        $("#gender-triangle-down").show(); 
        $("#langauges-triangle-up").show();
        $("#languages-triangle-down").show();
        $("#email-triangle-up").show();
        $("#email-triangle-down").show();
        $("#contact-triangle-up").show();
        // $("#contact-triangle-down").show();
    });
    $("#email-triangle-up").on("click", function () {
        console.log("up arroww")
        var column = $(this).closest("div#table-heading").find("div").text().toLowerCase();
        toggleSort(column, "asc");
        $(this).hide(); 
        $("#username-triangle-up").show();
        $("#username-triangle-down").show();
        $("#id-triangle-down").show(); 
        $("#id-triangle-up").show();        
        $("#gender-triangle-up").show();
        $("#gender-triangle-down").show(); 
        $("#langauges-triangle-up").show();
        $("#languages-triangle-down").show();
        // $("#email-triangle-up").show();
        $("#email-triangle-down").show();
        $("#contact-triangle-up").show();
        $("#contact-triangle-down").show();
    });

    $("#email-triangle-down").on("click", function () {
        console.log("downn arr")
        var column = $(this).closest("div#table-heading").find("div").text().toLowerCase();
        toggleSort(column, "desc");
        $(this).hide(); 
        $("#username-triangle-up").show();
        $("#username-triangle-down").show();
        $("#id-triangle-down").show(); 
        $("#id-triangle-up").show();        
        $("#gender-triangle-up").show();
        $("#gender-triangle-down").show(); 
        $("#langauges-triangle-up").show();
        $("#languages-triangle-down").show();
        $("#email-triangle-up").show();
        // $("#email-triangle-down").show();
        $("#contact-triangle-up").show();
        $("#contact-triangle-down").show();
        
    });
    $("#languages-triangle-up").on("click", function () {
        console.log("up arroww")
        var column = $(this).closest("div#table-heading").find("div").text().toLowerCase();
        toggleSort(column, "asc");
        $(this).hide(); 
        $("#username-triangle-up").show();
        $("#username-triangle-down").show();
        $("#id-triangle-down").show(); 
        $("#id-triangle-up").show();        
        $("#gender-triangle-up").show();
        $("#gender-triangle-down").show(); 
        // $("#langauges-triangle-up").show();
        $("#languages-triangle-down").show();
        $("#email-triangle-up").show();
        $("#email-triangle-down").show();
        $("#contact-triangle-up").show();
        $("#contact-triangle-down").show();
    });

    $("#languages-triangle-down").on("click", function () {
        console.log("downn arr")
        var column = $(this).closest("div#table-heading").find("div").text().toLowerCase();
        toggleSort(column, "desc");
        $(this).hide(); 
        $("#username-triangle-up").show();
        $("#username-triangle-down").show();
        $("#id-triangle-down").show(); 
        $("#id-triangle-up").show();        
        $("#gender-triangle-up").show();
        $("#gender-triangle-down").show(); 
        $("#langauges-triangle-up").show();
        // $("#languages-triangle-down").show();
        $("#email-triangle-up").show();
        $("#email-triangle-down").show();
        $("#contact-triangle-up").show();
        $("#contact-triangle-down").show();
    });


    // $("#data-table th div#table-heading").on("click", function () {
    //     var column = $(this).find("div").text().toLowerCase();
    //     var $upArrow = $(this).find("#triangle-up");
    //     var $downArrow = $(this).find("#triangle-down");

    //     var upArrowId = $(this).find("#triangle-up").attr("id");
    //     var downArrowId = $(this).find("#triangle-down").attr("id");

        // if (upArrowId === $(this).attr("id")) {
        // toggleSort(column, "asc");
        // $("#" + upArrowId).show();
        // $("#" + downArrowId).hide();
        // } else {
        // toggleSort(column, "desc");
        // $("#" + upArrowId).hide();
        // $("#" + downArrowId).show();
        // }
    //     if(count==0){
    //       console.log(count)
    //       if($upArrow){
    //         count=1;
    //         console.log(count);
    //         console.log("clicked up-arr")
    //         toggleSort(column,"asc");
    //         $upArrow.addClass("hidden");
    //         $downArrow.removeClass("hidden");
    //       }
    //       else{
    //         count=1;
    //         console.log("clicked down-arr")
    //         toggleSort(column,"desc");
    //         $upArrow.removeClass("hidden");
    //         $downArrow.addClass("hidden");
    //       }
    //     }
    //     else{
    //       if ($upArrow.hasClass("hidden")) {
    //         toggleSort(column, "desc");
    //         $upArrow.removeClass("hidden");
    //         $downArrow.addClass("hidden");
    //     } else {
    //         toggleSort(column, "asc");
    //         $upArrow.addClass("hidden");
    //         $downArrow.removeClass("hidden");
    //      }
    //     }
        
    // });
      loadData(currentPage);
    });
  </script>
</html>

